{% extends "base.html.twig" %}


{% block nav %}
Logo

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url('panel')}}">panel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('kategorie')}}">kategorie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('wpisy')}}">wpisy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('wyloguj')}}" tabindex="-1">wyloguj</a>
  </li>
</ul>
{% endblock %}

{% block body %}
    Witaj w panelu InterCMS. Tutaj zarządzisz treścią jaka znajduje się na stronie. <br>
    <div>
        <a class="nav-link" href="{{ url('kategorie')}}">
            <img src=""> kategorie
        </a>
    </div>
    
{% endblock %}
